html {
    overflow-y: scroll;
}

#wrapper {
    font-family: "Roboto", sans-serif;
    margin-left: 140px;
    margin-top: 96px;
}

#wrapper .intro {
    width: 50%;
    margin-bottom: 50px;
}

#wrapper .intro h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 15px;
}

#wrapper .intro h1 span {
    color: #fc1b75;
    border-bottom: 5px solid #fc1b75;
}

#wrapper .intro .heart {
    width: 38px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 8px;
    float: left;
    animation: beat .8s ease infinite;
    -webkit-animation: beat .8s ease infinite;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#wrapper .intro .heart:hover {
    background-color: rgba(0, 0, 0, .1);
    animation: none;
    -webkit-animation: none;
}

@keyframes beat {
    30% { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
    40% { transform: scale(1.15); -webkit-transform: scale(1.15); -moz-transform: scale(1.15); -ms-transform: scale(1.15); -o-transform: scale(1.15); }
    50% { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
}

#wrapper .intro p {
    margin-top: 33px;
}

#wrapper .intro p span {
    opacity: .4;
}

#wrapper .intro .progress {
    width: 250px;
    height: 15px;
    background-color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 3px;
    float: left;
}

#wrapper .intro .progress > div {
    height: 100%;
    background-color: #fc1b75;
    border-right: 3px solid #fff;
    float: left;
}

#wrapper .intro .progress > div:first-of-type {
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
}

#wrapper .daily {
    width: 450px;
    height: 150px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#wrapper .daily.hidden {
    opacity: 0;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

#wrapper .daily .img {
    width: 150px;
    height: 100%;
    margin-right: 25px;
    background-color: #eee;
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    float: left;
}

#wrapper .daily p {
    font-size: 16px;
    color: #444;
    display: block;
    padding-top: 17px;
    margin-bottom: 15px;
}

#wrapper .daily h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    margin-bottom: 18px;
}

#wrapper .daily .time {
    margin-right: 15px;
    float: left;
}

#wrapper .daily .time svg {
    width: 22px;
    margin-right: 5px;
    float: left;
}

#wrapper .daily .btn {
    font-family: "Lexend Deca", sans-serif;
    margin-right: 5px;
    padding: 2px 10px;
    padding-right: 20px;
    margin-top: -2px;
    display: block;
    fill: #dd1d6a;
    color: #dd1d6a;
    border-left: 2px solid rgba(0, 0, 0, .3);
    float: left;
    cursor: pointer;
    transition: .15s ease;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
}

#wrapper .daily .btn svg {
    width: 24px;
    margin-right: 8px;
    float: left;
}

#wrapper .daily .btn span {
    display: block;
    margin-top: 2px;
    float: left;
}

#wrapper .daily .btn:hover {
    background-color: #fc1b75;
    border-left: 2px solid transparent;
    padding: 4px 10px;
    padding-right: 20px;
    margin-top: -4px;
    fill: #fff;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#editing {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    left: 0;
    top: 0;
    z-index: 10;
    perspective: 700px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#editing.hidden {
    opacity: 0;
}

#editing .alternated {
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#editing .alternated .type {
    height: 30px;
}

#editing .alternated .type * {
    float: left;
}

#editing .alternated .type p {
    margin-right: 20px;
}

#editing div {
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

#editing div.hidden {
    opacity: 0;
    transform: rotateY(-90deg) translateX(-200px) scale(.8);
    -webkit-transform: rotateY(-90deg) translateX(-200px) scale(.8);
    -moz-transform: rotateY(-90deg) translateX(-200px) scale(.8);
    -ms-transform: rotateY(-90deg) translateX(-200px) scale(.8);
    -o-transform: rotateY(-90deg) translateX(-200px) scale(.8);
}

#editing div .title {
    margin-top: 10px;
}

#editing div .title svg {
    width: 32px;
    margin-right: 10px;
    float: left;
}

#editing div .title h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
    padding-top: 5px;
}

#editing div .select {
    padding: 5px;
    height: 24px;
    width: 130px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#editing div .select select {
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
    color: #222;
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    float: left;
}

#editing div .select svg {
    width: 24px;
    float: left;
}

#editing > div > div {
    padding-left: 20px;
}

#editing > div > div:not(.title):not(.finish):not(.progress) {
    padding: 15px 20px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#editing > div > div p {
    margin-bottom: 10px;
}

#editing div .input {
    height: 40px;
    width: 230px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: default;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#editing div .input:hover {
    background-color: rgba(0, 0, 0, .1);
}

#editing div .input:hover svg {
    opacity: 1;
    background-color: #fff;
}

#editing div .input:hover p {
    border-left: 2px solid rgba(0, 0, 0, .1);
    border-right: 2px solid rgba(0, 0, 0, .1);
}

#editing div .input p {
    padding: 0px 15px;
    margin: 0px 15px;
    width: 100px;
    border-left: 2px solid rgba(0, 0, 0, .3);
    border-right: 2px solid rgba(0, 0, 0, .3);
}

#editing div .input svg {
    padding: 4px;
    width: 20px;
    opacity: .2;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#editing div .input svg:active {
    opacity: .5;
}

#editing div .finish {
    padding-top: 15px;
}

#editing div .finish p {
    width: 80%;
}

#editing div .finish svg {
    width: 24px;
    fill: #333;
    margin-right: 10px;
    float: left;
}

#editing div .progress {
    width: calc(100% - 50px);
    height: 15px;
    margin-top: 20px;
    margin-left: 25px;
    padding-left: 0px;
    background-color: #eeeeee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#editing div .progress div:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#editing div .progress div:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#editing div .progress div {
    height: 100%;
    float: left;
}

#editing div .progress .action { background-color: #FF4136; }
#editing div .progress .sleep { background-color: #4aabff; }

#editing div .start {
    font-family: "Lexend Deca", sans-serif;
    padding: 10px;
    background-color: #1a94ff;
    fill: #fff;
    color: #fff;
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#editing div .start:hover {
    background-color: #0b71ca;
}

#editing div .start svg {
    width: 30px;
    margin-right: 10px;
}

#editing div .start span {
    opacity: .65;
}

#wait {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FF4136;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    z-index: 999;
}

#wait.hidden {
    top: -110%;
}

#wait .icon {
    width: 128px;
    margin-right: 96px;
}

#wait .icon svg {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#wait h1 {
    font-size: 75px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .45);
    border-bottom: 5px solid transparent;
}

#wait h1.selected {
    color: #fff;
    border-bottom: 5px solid #fff;
}

#wait h1.start {
    font-size: 25px;
    display: block;
    margin-top: 15px;
}

#wait h1.start.selected {
    border-bottom: 5px solid transparent;
}

#wait .icon svg path, #wait .icon svg rect, #wait .icon svg circle {
    opacity: .5;
}

#wait .icon svg .selected {
    opacity: 1;
}

#run {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .7);
    perspective: 700px;
}

#run.action {
    background-color: #FF4136;
}

#run > div {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#run > div.hidden {
    opacity: 0;
    transform: translateY(-70%) rotateX(90deg);
    -webkit-transform: translateY(-70%) rotateX(90deg);
    -moz-transform: translateY(-70%) rotateX(90deg);
    -ms-transform: translateY(-70%) rotateX(90deg);
    -o-transform: translateY(-70%) rotateX(90deg);
}

#run .title {
    font-weight: 400;
    padding: 24px;
}

#run .title svg {
    width: 24px;
    margin-right: 12px;
    float: left;
} 

#run img {
    width: 40%;
    margin-left: 24px;
    margin-right: 48px;
    float: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#run > .alternated {
    width: 780px;
}

#run > .alternated > .bar {
    height: 60px;
    width: calc(100% - 48px);
    margin: 30px 24px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(0, 0, 0, .15);
    float: left;
}

#run > .alternated .progress-wrapper {
    width: calc(100% - 48px);
    height: 65px;
    transform: translateY(73px) translateX(24px);
    -webkit-transform: translateY(73px) translateX(24px);
    -moz-transform: translateY(73px) translateX(24px);
    -ms-transform: translateY(73px) translateX(24px);
    -o-transform: translateY(73px) translateX(24px);
}

#run > .alternated .progress {
    background-color: rgba(255, 255, 255, .6);
    border-bottom: 5px solid #0b71ca;
    height: 60px;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

#run > .alternated > .bar > div { height: 100%; float: left; }
#run > .alternated > .bar > :first-of-type { border-top-left-radius: 10px; }
#run > .alternated > .bar > :last-of-type { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
#run > .alternated > .bar > .action { background-color: #FF4136; }
#run > .alternated > .bar > .sleep { background-color: #0b71ca; }

#run .alternated {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

#run .alternated h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #667;
    margin-bottom: 20px;
}

#run .alternated h1 span {
    font-family: "Lexend Deca", sans-serif;
    font-size: 60px;
    color: #111;
}

#run .alternated h4 {
    margin-bottom: 10px;
}

#heart {
    font-family: "Roboto", sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#heart.hidden {
    opacity: 0;
}

#heart > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 800px;
    -webkit-border-radius: 800px;
    -moz-border-radius: 800px;
    -ms-border-radius: 800px;
    -o-border-radius: 800px;
    z-index: -1;
    transition: .25s ease;
    -webkit-transition: .25s ease;
    -moz-transition: .25s ease;
    -ms-transition: .25s ease;
    -o-transition: .25s ease;
}

#heart > div.hidden {
    opacity: 0;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

#heart svg {
    height: 435px;
    width: 435px;
    fill: none;
    position: absolute;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    z-index: -1;
}

#heart circle {
    stroke: #dd1d6a;
    stroke-width: 10px;
    stroke-dasharray: 1229px;
    stroke-dashoffset: 614px;
    stroke-linecap: round;
}

#heart svg.waiting {
    animation: 1s linear heart-waiting infinite;
    -webkit-animation: 1s linear heart-waiting infinite;
}

#heart svg.waiting circle {
    stroke: rgba(221, 29, 106, .7);
}

@keyframes heart-waiting {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

#heart svg.finished {
    animation: 1s linear heart-waiting infinite;
    -webkit-animation: 1s linear heart-waiting infinite;
}

#heart svg.finished circle {
    stroke: #ffc1da;
}

#heart h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

#heart p span {
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(0, 0, 0, .5);
    padding: 0 4px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#heart input {
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 50px;
    width: 120px;
    max-height: 0px;
    margin-top: 15px;
    transition: .2s ease;
    background: transparent;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#heart input.visible {
    max-height: 70px;
}