#nav .logo {
    width: 200px;
}

#wrapper {
    font-family: "Roboto", sans-serif;
    margin-left: 148px;
    margin-top: 96px;
}

#wrapper > .feeds > h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

#wrapper .feeds .list {
    min-height: 234px;
}

#wrapper .feeds .list > div {
    float: left;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

#wrapper .feeds .list > div:hover {
    background-color: rgba(0, 0, 0, .08);
}

#wrapper .feeds .list div .img {
    background-color: rgba(0, 0, 0, .2);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
}

#wrapper .feeds .list div h4 {
    font-size: 18px;
    width: 150px;
    color: #111;
}

#wrapper .feeds .list div p {
    font-size: 15px;
    color: #222;
}

#wrapper > .episodes > h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}

#wrapper .episodes .list {
    width: 50%;
    min-width: 600px;
}

#wrapper .episodes .list div {
    min-height: 48px;
    padding: 10px 10px 20px 0;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: default;
    box-shadow: 0 0 0 rgba(0, 0, 0, .3);
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#wrapper .episodes .list > div:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .08);
}

#wrapper .episodes .list div .img {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .2);
    margin-right: 15px;
    margin-left: 10px;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#wrapper .episodes .list div svg {
    display: none;
    width: 35px;
    padding: 7px;
    margin-top: 7px;
    margin-left: 17px;
    position: absolute;
    fill: rgba(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#wrapper .episodes .list div:hover svg {
    display: block;
}

#wrapper .episodes .list div svg:hover {
    fill: rgba(0, 0, 0, .5);
}

#wrapper .episodes .list div h4 {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

#wrapper .episodes .list div h4:hover {
    text-decoration: underline;
}

#wrapper .episodes .list div a {
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    color: #444;
}

#wrapper .episodes .list div a:hover {
    text-decoration: underline;
}

#wrapper .episodes .list div p {
    display: inline-block;
}

/* 42 / Player / @player
============================ */
#player {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#player.hidden {
    opacity: 0;
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
}

#player .plyr__controls {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
    margin-right: 50px;
    float: left;
}

#player > svg {
    width: 35px;
    position: absolute;
    bottom: 5px;
    right: -5px;
    padding: 3px;
    float: right;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

#player > svg:hover {
    background-color: rgba(0, 0, 0, .2);
}