html, body, a, b, p, div, span, h1, h2, h3, h4, h5, h6, code, svg {
    margin: 0px;
    padding: 0px;
}

:root {
    --bg: #fff;
    --accent: #0099ff;
    --accent-dark: #665800;
    --accent-shadow: rgba(102, 88, 0, .6);
    --player-color: #0099ff;

    --red: #FF4136;
}

#nav.loading {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#nav {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    top: 0;
    position: fixed;
    background-color: #fff;
    box-sizing: border-box;
    transition: opacity .3s ease, transform .3s ease, box-shadow .2s ease;
    -webkit-transition: opacity .3s ease, transform .3s ease, box-shadow .2s ease;
    -moz-transition: opacity .3s ease, transform .3s ease, box-shadow .2s ease;
    -ms-transition: opacity .3s ease, transform .3s ease, box-shadow .2s ease;
    -o-transition: opacity .3s ease, transform .3s ease, box-shadow .2s ease;
    z-index: 10;
}

#nav.shadow {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
}

#nav .icon {
    fill: var(--accent-dark);
    text-align: center;
    height: 38px;
    margin: 5px 30px;
    float: left;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav:not(.shadow) .icon {
    margin: 10px 30px;
}

#nav .icon path {
    fill: none;
    stroke-width: 12px;
    stroke: rgba(0, 0, 0, .3);
}

#nav .icon path.filled {
    fill: #4c4a53;
    stroke-width: 0px;
}

#nav .logo {
    height: 30px;
    margin-top: 12px;
    margin-left: 20px;
    padding-right: 5px;
    float: left;
    transition: .15s ease;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
}

#nav:not(.shadow) .logo {
    margin-top: 15px;
}

#nav .logo .nitro {
    width: 65px;
    display: block;
}

#nav .logo path {
    fill: #34343b;
}

#nav .logo line {
    stroke: #34343b;
}

#nav .search {
    width: calc(100% - 600px);
    height: 48px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, .07);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav .search.focus {
    background-color: #fff;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .2);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#nav .search svg {
    fill: #333;
    width: 24px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 12px;
    float: left;
}

#nav .search input {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-left: 5px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    width: calc(100% - 80px);
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}

#nav .search input.hide {
    color: transparent;
}

#nav .right {
    margin-top: 5px;
    float: right;
}

#nav .right .network {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 60px;
    width: 180px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

#nav .right .network svg {
    width: 35px;
    margin-left: 6px;
    margin-right: 7px;
    float: left;
}

#nav .right .network h4 {
    font-size: 15px;
}

#nav .right .network svg.load {
    animation: spin 1.5s ease infinite;
    -webkit-animation: spin 1.5s ease infinite;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

#nav .right .network p {
    font-size: 12px;
    margin-top: -1px;
}

#nav .right .network .progress-bar {
    margin-top: 4px;
}

#nav .right .more, #nav .right .messages, #nav .right .music {
    width: 30px;
    margin-right: 20px;
    padding: 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#nav .right .messages, #nav .right .music {
    padding: 5px;
    width: 24px;
}

#nav .right .more:hover, #nav .right .messages:hover, #nav .right .music:hover {
    background-color: rgba(0, 0, 0, .05);
}

#nav .right .music {
    position: absolute;
    padding: 2px;
    margin: 8px;
    border: 2px solid transparent;
    transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#nav .right .music.playing {
    fill: #0074D9;
    background-color: rgba(0, 102, 255, 0.1);
    padding: 5px;
    margin: 5px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    animation: music-playing 2s ease infinite;
    -webkit-animation: music-playing 2s ease infinite;
    cursor: pointer;
}

#nav .right .music.playing:hover {
    background-color: rgba(0, 102, 255, 0.2);
}

@keyframes music-playing {
    0% {
        border: 2px solid transparent;
    }

    50% {
        border: 2px solid rgba(0, 93, 175, .5);
    }

    70% {
        border: 2px solid rgba(0, 93, 175, .5);
    }

    100% {
        border: 2px solid transparent;
    }
}

#nav .right .avatar {
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(45deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(45deg);
    /* Opera */
    -o-transform:rotate(45deg);
    /* IE9 */
    -ms-transform:rotate(45deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";

    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.progress-bar {
    background-color: rgba(0, 0, 0, .05);
    height: 3px;
    width: 100%;
    margin-top: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.progress-bar > div {
    height: 100%;
    background-color: var(--accent);
    border-radius: 5px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.side-wrapper {
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
}

#side {
    font-family: "Roboto", sans-serif;
    float: left;
    width: 100px;
    max-height: 600px;
    overflow: hidden;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    z-index: 999;
}

#side.hidden {
    max-height: 70px;
    padding: 0px;
    top: 50px;
    background-color: transparent;
}

.bg {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 0;
    background-color: #0099ff;
    transition: .18s ease;
    -webkit-transition: .18s ease;
    -moz-transition: .18s ease;
    -ms-transition: .18s ease;
    -o-transition: .18s ease;
    transform: translateX(30px) translateY(15px);
    -webkit-transform: translateX(30px) translateY(15px);
    -moz-transform: translateX(30px) translateY(15px);
    -ms-transform: translateX(30px) translateY(15px);
    -o-transform: translateX(30px) translateY(15px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bg.hidden {
    opacity: 0;
    transform: translateX(-40px) translateY(15px);
    -webkit-transform: translateX(-40px) translateY(15px);
    -moz-transform: translateX(-40px) translateY(15px);
    -ms-transform: translateX(-40px) translateY(15px);
    -o-transform: translateX(-40px) translateY(15px);
}

.bg.selected {
    opacity: 0;
    transform: translateX(30px) translateY(15px) scale(1.5);
    -webkit-transform: translateX(30px) translateY(15px) scale(1.5);
    -moz-transform: translateX(30px) translateY(15px) scale(1.5);
    -ms-transform: translateX(30px) translateY(15px) scale(1.5);
    -o-transform: translateX(30px) translateY(15px) scale(1.5);
}

.bg.soon {
    background-color: #c6c6dd;
}

#side a {
    text-align: center;
    text-decoration: none;
    display: block;
    height: 50px;
    padding-bottom: 10px;
    fill: #333;
    color: #ffd6d3;
    cursor: pointer;
}

#side a.hidden {
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
}

#side a:not(.selected):hover svg {
    fill: var(--bg);
}

#side a.selected {
    cursor: default;
}

#side a::before {
    content: "";
    width: 5px;
    height: 20px;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--accent);
    margin-top: 25px;
    margin-left: -35px;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}

#side a.selected::before {
    margin-left: -28px;
}

#side a svg {
    fill: #667;
    width: 24px;
    margin-top: 13px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .18s ease;
    -webkit-transition: .18s ease;
    -moz-transition: .18s ease;
    -ms-transition: .18s ease;
    -o-transition: .18s ease;
}

#side a.selected svg {
    fill: var(--accent);
}

#side a.soon svg {
    fill: #b8bac7;
}

#notif {
    font-family: "Roboto", sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 999;
    max-height: 500px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .35);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    cursor: pointer;
}

#notif.hidden {
    right: -400px;
    opacity: 0;
}

#notif img {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, .1);
}

#notif img:not([src]) {
    display: none;
}

#notif svg {
    width: 24px;
    float: left;
}

#notif svg.hidden {
    display: none;
}

#notif p {
    font-size: 15px;
    width: 80%;
}

#notif h4 {
    font-size: 20px;
}

#notif[data-type="drive"] h4 {
    margin-top: -5px;
}

#tooltip {
    font-family: "Roboto", sans-serif;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    padding: 15px;
    left: 120px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    z-index: 15;
    cursor: default;
}

#tooltip::before {
    content: "";
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    position: absolute;
    margin-left: -40px;
    border: 12px solid transparent;
    border-right: 12px solid rgba(0, 0, 0, .1);
}

#tooltip.changing {
    color: #fff;
}

#tooltip p {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

#tooltip.hidden {
    left: 150px;
    opacity: 0;
}

#account {
    font-family: "Roboto", sans-serif;
    position: fixed;
    right: 20px;
    top: 80px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .15s ease;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
}

#account.hidden {
    top: 60px;
    opacity: 0;
}

#account::before {
    content: "";
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    position: absolute;
    margin-top: -25px;
    margin-left: 260px;
    border: 12px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, .1);
}

#account .header {
    overflow-y: hidden;
    padding: 20px;
    max-height: 500px;
    transition: .2s ease;
    text-align: center;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#account .header.hidden {
    max-height: 0px;
    padding: 0px 20px;
    opacity: 0;
}

#account .header.hidden > svg {
    max-height: 0px;
}

#account .header img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#account .header > svg {
    width: 24px;
    max-height: 24px;
    margin-top: 25px;
    margin-left: 30px;
    position: absolute;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#account .header > svg:hover {
    background-color: rgba(0, 0, 0, .15);
    padding: 7px;
    margin-top: 18px;
    margin-left: 23px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#account .header h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

#account .header a {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    fill: #222;
    display: block;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 15px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    cursor: pointer;
}

#account .header a:last-of-type {
    margin-bottom: 0px;
}

#account .header a svg {
    width: 24px;
    margin-left: 10px;
    margin-top: -2px;
    float: left;
}

#account .header a:hover {
    background-color: #667;
    border: 2px solid #667;
    color: #fff;
    fill: #fff;
}

#account .avatar {
	overflow: hidden;
	max-height: 500px;
	padding: 15px 0px;
	transition: max-height .2s ease;
	-webkit-transition: max-height .2s ease;
	-moz-transition: max-height .2s ease;
	-ms-transition: max-height .2s ease;
	-o-transition: max-height .2s ease;
}

#account .avatar.hidden {
	max-height: 0px;
    padding: 0px;
    opacity: 0;
}

#account .avatar .back {
    width: 24px;
    margin-left: 20px;
	margin-right: 10px;
	fill: rgba(0, 0, 0, .6);
    float: left;
}

#account .avatar h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, .45);
}

#account .avatar a {
    display: block;
    height: 45px;
    padding: 5px 20px;
    cursor: pointer;
}

#account .avatar a svg {
    width: 24px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

#account .avatar a p {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#account .avatar a span {
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
    overflow: hidden;
    display: block;
    transition: .15s ease;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
    opacity: 0;
}

#account .avatar a:hover {
    background-color: rgba(0, 0, 0, .05);
}

#account .avatar a:hover span {
    opacity: 1;
}

#account .avatar a:hover p {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

#account .avatar .takeQR {
    max-height: 500px;
    overflow-y: hidden;
    transition: .3s ease;
    height: 150px;
    border-top: 2px solid rgba(0, 0, 0, .15);
    border-bottom: 2px solid rgba(10, 5, 5, 0.15);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

#account .avatar .takeQR.hidden {
    max-height: 0px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#account .avatar .takeQR img {
    padding: 10px;
    height: 128px;
    width: 128px;
    float: left;
}

#account .avatar .takeQR h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, .8);
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

#account .avatar .takeQR p {
    font-size: 15px;
    margin: 10px 0px;
}

#account .avatar .takeQR span {
    display: block;
    line-height: 25px;
    width: 280px;
    color: rgba(0, 0, 0, .5);
}

#account .avatar .takeQR span b {
    font-style: italic;
    font-weight: 500;
    color: #1e1e20;
    border-bottom: 2px solid #1e1e20;
}


/* MENU */
#menu {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 60px;
    right: 95px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#menu.hidden {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#menu::before {
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    border: 10px solid transparent;
    border-top: none;
    box-sizing: border-box;
    border-bottom-color: #ebebeb;
    position: absolute;
    margin-left: 223px;
    margin-top: -20px;
}

#menu > h4 {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: default;
}

#menu a {
    display: block;
    padding: 10px 0px;
    margin: 0px 20px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

#menu a:hover {
    background-color: rgba(0, 0, 0, .05);
    margin: 0px;
    padding: 10px 20px;
}

#menu a:hover + a {
    margin: 0px;
    padding: 10px 20px;
}

#menu a:first-of-type {
    border-top: none;
}

#menu a p {
    font-size: 15px;
    color: #333;
}

#menu a > span {
    font-size: 12px;
    display: block;
    color: #777;
}

#menu a > span > b {
    font-weight: 400;
    color: #333;
}

#menu a svg {
    width: 24px;
    margin: 2px 20px 0px 10px;
    float: left;
}

#messages {
    font-family: "Roboto", sans-serif;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 350px;
    height: calc(100% - 60px);
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 20;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#messages.hidden {
    right: -450px;
    opacity: .3;
}

#messages-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
}

#messages-bg.hidden {
    opacity: 0;
}

#messages .header, #messages .dialog {
    overflow-x: hidden;
    white-space: nowrap;
    width: 350px;
    max-height: 9999px;
    opacity: 1;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    float: left;
}

#messages .header.hidden, #messages .dialog.hidden {
    width: 0px;
    opacity: 0;
    max-height: 0px;
}

#messages .header > svg:not(.new) {
    margin: 20px 15px 0px 20px;
    width: 48px;
    float: left;
}

#messages .header > h4 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
    float: left;
}

#messages .header > .new {
    background-color: #0099ff;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
    border-radius: 20px;
    width: 24px;
    padding: 7px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    fill: #fff;
    cursor: pointer;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#messages .header .new:hover {
    background-color: #0074D9;
}

#messages .header .list {
    margin-top: 15px;
    width: 100%;
    float: left;
}

#messages .header .list a {
    padding: 10px 20px;
    display: block;
    cursor: pointer;
}

#messages .header .list a:hover {
    background-color: #e0e0e0;
}

#messages .header .list a img {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 5px;
    margin-right: 15px;
    float: left;
}

#messages .header .list a .badge {
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    border: 5px solid #fff;
    background-color: #222;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: absolute;
    transform: translateX(35px) translateY(40px);
    -webkit-transform: translateX(35px) translateY(40px);
    -moz-transform: translateX(35px) translateY(40px);
    -ms-transform: translateX(35px) translateY(40px);
    -o-transform: translateX(35px) translateY(40px);
    opacity: 1;
}

#messages .header .list a:hover .badge {
    border: 5px solid #e0e0e0;
}

#messages .header .list a .badge[status="online"] {background-color: #2ECC40;}
#messages .header .list a:hover .badge[status="online"] {background-color: #0ebd22;}
#messages .header .list a .badge[status="offline"] {background-color: #FF4136;}
#messages .header .list a:hover .badge[status="offline"] {background-color: #ff6f67;}

#messages .header .list a span {
    opacity: .5;
}

#messages .header .list a.new h4::after {
    font-size: 13px;
    content: "NEW";
    background-color: #0074D9;
    color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#messages .header .list a.new p {
    font-weight: 500;
    color: #0074D9;
}

#messages .header .list a.new:hover p {
    color: #0b6ec4;
}

#messages .header .list a svg {
    width: 18px;
    margin-left: 5px;
    display: inline-block;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    fill: rgba(0, 0, 0, .4);
}

#messages .dialog {
    text-align: center;
    max-width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#messages .dialog svg {
    width: 30px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}

#messages .dialog .top {
    position: absolute;
    width: 350px;
    padding: 10px 0px;
    background-color: rgba(255,255,255, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

#messages .dialog .user {
    display: inline-block;
	margin-left: -50px;
	min-width: 170px;
}

#messages .dialog .user img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: rgba(0, 0, 0, .3);
	float: left;
}

#messages .dialog .user h4 {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

#messages .dialog .user p svg {
	margin-top: 7px;
	margin-right: -15px;
	margin-left: 15px;
    width: 10px;
    float: left;
}

#messages .dialog .user[status="online"] p {
	color: #26aa35;
	fill: #2ECC40;
}

#messages .dialog .user[status="offline"] p {
	color: #FF4136;
	fill: #FF4136;
}

#messages .dialog .user p span {
    margin-left: 20px;
    float: left;
}

#messages .dialog .messages {
    width: 100%;
    overflow-y: scroll;
	height: calc(100% - 50px);
    box-sizing: border-box;
    white-space: normal;
    word-break: normal;
    padding: 0px 20px;

    scrollbar-color: rgba(0, 0, 0, .3) #fff;
    scrollbar-width: thin;
}

#messages .dialog .messages::-webkit-scrollbar {
    background-color: #fff;
    width: 6px;
}

#messages .dialog .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
}

#messages .separator {
    color: rgba(0, 0, 0, .55);
    margin: 10px 0px;
    display: flex;
    align-items: center;
    text-align: center;
}

#messages .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#messages .separator::before {
    margin-right: 15px;
}

#messages .separator::after {
    margin-left: 15px;
}

#messages .dialog .messages > div {
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    max-height: 800px;
}

#messages .dialog .messages > div.temp {
    opacity: .5;
}

#messages .dialog .messages > div:not(.no-margin) > p {
    margin-bottom: 10px;
}

#messages .dialog .messages > div > p {
	max-width: 250px;
    display: block;
    clear: both;
    margin-bottom: 5px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 5px 20px;
}

#messages .dialog .messages > [data-type="img"] > a > img {
    width: 100%;
    margin-bottom: -5px;
    height: 150px;
}

#messages .dialog .messages > [data-type="img"] > a {
    outline: none;
}

#messages .dialog .messages > [data-type="img"] > p {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    max-width: 300px;
}

#messages .dialog .messages > div > iframe {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    background-color: #e0e0e0;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    float: right;
}

#messages .dialog .messages > .other > iframe {
    float: left;
    background-color: var(--accent);
}

#messages .dialog .messages > div:first-child {
    margin-top: 80px;
}

#messages .dialog .messages > div > iframe + p {
    border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -ms-border-radius: 0px 0px 0px 10px;
    -o-border-radius: 0px 0px 0px 10px;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
}

#messages .dialog .messages > .other > iframe + p {
    border-radius: 0px 0px 10px 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    -ms-border-radius: 0px 0px 10px 0px;
    -o-border-radius: 0px 0px 10px 0px;
    max-width: 100%;
    box-sizing: border-box;
    width: 300px;
}

#messages .dialog .messages > div > p a {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

#messages .dialog .messages > .other > p a {
    color: #fff;
}

#messages .dialog .messages > div > p a:hover b {
    color: rgba(0, 0, 0, .6);
    border-bottom: 2px solid rgba(0, 0, 0, .8);
}

#messages .dialog .messages > .other > p a:hover b {
    color: rgba(255, 255, 255, .9);
    border-bottom: 2px solid rgba(255, 255, 255, .8);
}

#messages .dialog .messages > .other > p a {
    color: rgba(255, 255, 255, .7);
}

#messages .dialog .messages > div > p a:hover span {
    text-decoration: underline;
}

#messages .dialog .messages > div > p a b {
    border-bottom: 2px solid rgba(0, 0, 0, .4);
}

#messages .dialog .messages > .other > p a b {
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

#messages .dialog .messages > div > p a span {
    font-size: 13px;
    padding-top: 5px;
    display: block;
}

#messages .dialog .messages > div.other {
    overflow-x: visible;
}

#messages .dialog .messages > div.top-squared p {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#messages .dialog .messages > div.bottom-squared p {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#messages .dialog .messages > div.topright-squared p {
    border-top-right-radius: 0px;
}

#messages .dialog .messages > div.me > p {
    border-bottom-right-radius: 0px;
    text-align: right;
    background-color: #f3f3f3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
    float: right;
}

#messages .dialog .messages > div.other > p {
	text-align: left;
	border-bottom-left-radius: 0px;
	background-color: var(--accent);
    color: #fff;
    float: left;
}

#messages .dialog .messages > div.other > a {
    color: #fff;
}

#messages .dialog .send {
    width: 100%;
    height: 50px;
}

#messages .dialog .send .input {
    background-color: rgba(0, 0, 0, .15);
    float: left;
    height: 35px;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#messages .dialog .send .input svg.icon {
    display: inline-block;
    width: 18px;
    margin-right: 10px;
    margin-top: 0px;
    height: 35px;
}

#messages .dialog .send .input input {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #111;
    height: 100%;
    max-width: 100px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    background: transparent;
    border: none;
    outline: none;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#messages .dialog .send .input input:focus {
    max-width: 200px;
}

#messages .dialog .send .input svg.send {
    width: 18px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 0px;
    margin-top: 3px;
    height: 18px;
    float: right;
    background-color: var(--accent);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#search {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    max-height: 400px;
    overflow: hidden;
    transition: max-height .2s ease;
    z-index: 5;
    position: absolute;
    -webkit-transition: max-height .2s ease;
    -moz-transition: max-height .2s ease;
    -ms-transition: max-height .2s ease;
    -o-transition: max-height .2s ease;
}

#search > div {
    transition: transform .2s ease-out, opacity .2s ease;
    -webkit-transition: transform .2s ease-out, opacity .2s ease;
    -moz-transition: transform .2s ease-out, opacity .2s ease;
    -ms-transition: transform .2s ease-out, opacity .2s ease;
    -o-transition: transform .2s ease-out, opacity .2s ease;
}

#search > div.nothing {
    opacity: .5;
}
#search > div.launched {
    opacity: 0;
    transform: translateX(450px);
    -webkit-transform: translateX(450px);
    -moz-transform: translateX(450px);
    -ms-transform: translateX(450px);
    -o-transform: translateX(450px);
}

#search > div.nothing:hover, #search > div.noHover:hover {
    background-color: transparent;
}

#search.hidden {
    max-height: 0px;
    box-shadow: 0px 5px 5px transparent;
}

#search > div {
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    cursor: default;
}

#search > div:hover {
    background-color: rgba(0, 0, 0, .05);
}

#search > div h4 {
    font-size: 18px;
    font-weight: 500;
}

#search > div span {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
}

#search > div svg, #search > div img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 8px;
    float: left;
}

#search > div img {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#users {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#users.hidden {
    opacity: 0;
}

#users > div {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 350px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}

#users.hidden > div {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

#users > div .input {
    height: 50px;
}

#users > div .input svg {
    width: 24px;
    margin-top: 15px;
    margin-left: 15px;
    fill: #444;
    float: left;
}

#users > div .input input {
    font-size: 18px;
    text-indent: 10px;
    width: calc(100% - 40px);
    border: none;
    padding: 0;
    height: 100%;
    float: left;
    border-top-right-radius: 5px;
}

#users > div .list {
    overflow: hidden;
    white-space: nowrap;
    height: 160px;
    padding: 0px 10px;
    scrollbar-color: rgba(0, 0, 0, .3) transparent;
    scrollbar-width: thin;
}

#users > div .list:hover {
    overflow-x: auto;
}

#users > div .list div {
    width: 120px;
    margin: 10px 0px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#users > div .list div.hidden {
    opacity: 0;
    width: 0;
}

#users > div .list div.checked {
    background-color: rgba(0, 153, 255, 0.15);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#users > div .list div.checked h4 {
    color: #0074D9;
}

#users > div .list div.checked .img {
    box-shadow: 0px 2px 5px rgba(0, 153, 255, 0.692);
}

#users > div .list div.checked:hover {
    background-color: rgba(0, 153, 255, 0.3);
}

#users > div .list div:hover {
    background-color: rgba(0, 0, 0, .1);
}

#users > div .list div .img {
    background-position: center;
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-bottom: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#users > div .list div h4 {
    margin-bottom: 5px;
    transition: .15s ease;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
}

#users > div .list div h4 span {
    display: block;
    font-size: 15px;
    opacity: .5;
}

#users > div .buttons {
    padding: 10px;
    height: 40px;
}

#users > div .buttons a {
    margin-left: 30px;
    cursor: pointer;
    float: right;
}

#users > div .buttons .next {
    background-color: #0059ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: .15s ease;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
}

#users > div .buttons .next svg {
    width: 24px;
    fill: #fff;
    margin-right: -5px;
    margin-left: 10px;
    float: right;
}

#users > div .buttons .next:hover {
    background-color: #003fb4;
}

#users > div .buttons .next.invalid {
    opacity: .5;
}

#users > div .buttons .next span {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    opacity: .7;
}

#users > div .buttons .cancel {
    margin-top: 10px;
    color: #444;
}

#users > div .buttons .cancel:hover {
    color: #222;
    border-bottom: 2px solid #222;
}

/* XX / Music / @music
========================== */
#music {
    font-family: "Roboto", sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: default;
    z-index: 10;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#music.hidden {
    opacity: .2;
    transform: translateX(400px) rotate(20deg);
    -webkit-transform: translateX(400px) rotate(20deg);
    -moz-transform: translateX(400px) rotate(20deg);
    -ms-transform: translateX(400px) rotate(20deg);
    -o-transform: translateX(400px) rotate(20deg);
}

#music .title {
    padding: 15px;
}

#music .title svg {
    width: 24px;
    margin-right: 10px;
    float: left;
}

#music .title h4 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#music .title h4 span {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 5px;
}

#music .title svg.close {
    position: absolute;
    top: 10px;
    right: 2px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#music .title svg.close:hover {
    background-color: rgba(0, 0, 0, .1);
}

#music .list {
    max-height: 220px;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .3) transparent;
}

#music .list div {
    padding: 7px 0 7px 15px;
    height: 40px;
    cursor: pointer;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    border: 0px solid rgba(0, 0, 0, .15);
}

#music .list div:hover {
    background-color: rgba(0, 0, 0, .1);
}

#music .list .playing {
    padding: 12px 0 12px 15px;
    border-top: 2px solid rgba(0, 0, 0, .15);
    border-bottom: 2px solid rgba(0, 0, 0, .15);
}

#music .list .playing:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#music .list div .img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}

#music .list .playing .img {
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

#music .list .playing h4 {
    color: #0074D9;
}

#music .list div span {
    margin-right: 10px;
}

#music .player audio {
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}