html, body, a, div, svg, path, b, span, p, input, form {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.logo {
    width: 38px;
    position: fixed;
    top: 20px;
    left: 10%;
}

.send {
    font-family: "Lexend Deca", sans-serif;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 140px;
    height: 300px;
    box-sizing: border-box;
    padding: 90px 50px;
}

.send input {
    display: none;
}

.send label {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.send svg {
    width: 48px;
    margin-bottom: 10px;
}

.send svg.hidden {
    display: none;
}

.send img {
    display: block;
    height: 70px;
    margin-bottom: 10px;
    width: 70px;
    object-fit: cover;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.send img.hidden {
    display: none;
}

.send p {
    font-size: 25px;
    width: 200px;
}

.top, .bottom {
    position: absolute;
    width: 24px;
    height: 24px;
}
  
  .top {
    top: 0;
    border-top: 5px solid;
  }
  
  .bottom {
    bottom: 0;
    border-bottom: 5px solid;
  }
  
  .left {
    left: 0;
    border-left: 5px solid;
  }
  
  .right {
    right: 0;
    border-right: 5px solid;
  }